<div class="d-flex flex-column p-3 text-white bg-success">

  <ul class="nav nav-pills flex-column mb-auto bg-success">
    <li>
      <h3 style="color: #fffdd0;">Ürün</h3>
      <a routerLink="/productsAdd" class="nav-link text-dark " style="background-color: #98ff98;">
       Ekle 
      </a>
    </li>

    <li>
   
      <a routerLink="/productsPage" class="nav-link text-dark " style="background-color: #98ff98;">
       Listele ve Sil
      </a>
    </li>
  <hr >
  <li>
    <h3 style="color: #fffdd0;">Kullanıcı</h3>
    <a routerLink="/userAdd" class="nav-link text-dark " style="background-color: #98ff98;">
      Ekle 
    </a>
  </li>

    <li>
      <a routerLink="/userList" class="nav-link text-dark" style="background-color: #98ff98;">
       Listesi ve Sil
      </a>
    </li>
   <hr>
    <li>
      <h3 style="color: #fffdd0;">Categori</h3>
      <a routerLink="/category" class="nav-link text-dark " style="background-color: #98ff98;">
        Ekle 
      </a>
    </li>
  
      <li>
        <a routerLink="/categoryList" class="nav-link text-dark" style="background-color: #98ff98;">
         Listesi ve Sil
        </a>
      </li>
  </ul>


</div>