<div class="bg-dark mt-5">
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="https://cdn.dsmcdn.com/ty977/product/media/images/20230802/11/399331890/862614859/1/1_org_zoom.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                <div class="card-body">
                  <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                  <img src="https://www.zafoni.com/i/l/007/0070317_erkek-slim-fit-likrali-denim-kot-pantolon-jean-siyah.jpeg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://cdn.pazarium.com.tr/bol-paca-puskullu-kot-mavisi-pantolon-kadin-pantolon-ymr-moda-297363-66-O.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div><!---->
              <div class="col">
                <div class="card">
                  <img src="https://st-hummel.mncdn.com/Content/media/ProductImg/original/911576-8123-freya-kisa-kollu-tisort-638188822533420117.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://static.ticimax.cloud/5334/uploads/urunresimleri/buyuk/siyah-desenli-oversize-erkek-tisort-2541e6.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://cdn.swist.com.tr/cdn-cgi/image/format=auto,height=1200,quality=70/https://www.swist.com.tr/beyaz-yeni-nirvana-baskili-oversize-kadin-tshirt-tisort-swist-19832-17-B.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/d0efe31f5fe4478aa9c1af46002e9f7d_9366/VS_Pace_2.0_Ayakkabi_Gri_HP6007_01_standard.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://akn-barcin.a-cdn.akinoncloud.com/products/2022/11/03/909317/9222d33a-a717-400a-b84e-bd5b87f2281e_size900x900_cropCenter.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img src="https://akn-ss.a-cdn.akinoncloud.com/products/2023/03/30/863154/d4e4c4a6-b431-4adc-a936-6cea27d2ab05_size1400x1400_quality100.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                  <div class="card-body">
                    <a href="/product">  <button class="btn btn-primary d-grid gap-2 col-12 mx-auto"  mdbRipple>Ürünlere Göz At</button></a>
                  </div>
                </div>
              </div>
         </div>
    </div>
</div>
